{"openapi":"3.0.1","info":{"title":"API 마켓 개발가이드","description":"API 명세서 및 테스트베드 확인으로 빠르게 연동해보세요<br>본 마켓은 거래되는 데이터의 내용을 보관, 관리하지 않으며, 제공기관과 이용자 간 전달만을 지원합니다.","version":"1.0"},"servers":[{"url":"https://api.hyphen.im","description":"Production Server"},{"url":"http://localhost:9092","description":"test Server"}],"paths":{"/in0002000436":{"post":{"tags":["국민건강보험공단 API"],"summary":"영유아 건강검진결과조회","operationId":"in0002000436","parameters":[{"name":"hyphen-gustation","in":"header","description":"실 사용시엔 이 필드를 제거하세요","required":true,"schema":{"type":"string","example":"Y"}},{"name":"user-id","in":"header","description":"회원ID(회원가입시 생성)","required":true,"schema":{"type":"string"}},{"name":"Hkey","in":"header","description":"H보안키(회원가입 후 이메일로 전달)","required":true,"schema":{"type":"string"}},{"name":"user-tr-no","in":"header","description":"거래고유번호(고객 생성)","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/im.hyphen.market.infotech.dao.req.IN0002000436Req"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/im.hyphen.market.infotech.dao.res.IN0002000436Resp"}}}}},"servers":[{"url":"https://api.hyphen.im","description":"Production Server"},{"url":"http://localhost:9092","description":"Production Server"}]}},"/in0002000435":{"post":{"tags":["국민건강보험공단 API"],"summary":"영유아 건강검진대상조회","operationId":"in0002000435","parameters":[{"name":"hyphen-gustation","in":"header","description":"실 사용시엔 이 필드를 제거하세요","required":true,"schema":{"type":"string","example":"Y"}},{"name":"user-id","in":"header","description":"회원ID(회원가입시 생성)","required":true,"schema":{"type":"string"}},{"name":"Hkey","in":"header","description":"H보안키(회원가입 후 이메일로 전달)","required":true,"schema":{"type":"string"}},{"name":"user-tr-no","in":"header","description":"거래고유번호(고객 생성)","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/im.hyphen.market.infotech.dao.req.IN0002000435Req"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/im.hyphen.market.infotech.dao.res.IN0002000435Resp"}}}}},"servers":[{"url":"https://api.hyphen.im","description":"Production Server"},{"url":"http://localhost:9092","description":"Production Server"}]}},"/in0002000434":{"post":{"tags":["국민건강보험공단 API"],"summary":"건강나이 알아보기","operationId":"in0002000434","parameters":[{"name":"hyphen-gustation","in":"header","description":"실 사용시엔 이 필드를 제거하세요","required":true,"schema":{"type":"string","example":"Y"}},{"name":"user-id","in":"header","description":"회원ID(회원가입시 생성)","required":true,"schema":{"type":"string"}},{"name":"Hkey","in":"header","description":"H보안키(회원가입 후 이메일로 전달)","required":true,"schema":{"type":"string"}},{"name":"user-tr-no","in":"header","description":"거래고유번호(고객 생성)","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/im.hyphen.market.infotech.dao.req.IN0002000434Req"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/im.hyphen.market.infotech.dao.res.IN0002000434Resp"}}}}},"servers":[{"url":"https://api.hyphen.im","description":"Production Server"},{"url":"http://localhost:9092","description":"Production Server"}]}},"/in0002000433":{"post":{"tags":["국민건강보험공단 API"],"summary":"치석제거 진료정보조회","operationId":"in0002000433","parameters":[{"name":"hyphen-gustation","in":"header","description":"실 사용시엔 이 필드를 제거하세요","required":true,"schema":{"type":"string","example":"Y"}},{"name":"user-id","in":"header","description":"회원ID(회원가입시 생성)","required":true,"schema":{"type":"string"}},{"name":"Hkey","in":"header","description":"H보안키(회원가입 후 이메일로 전달)","required":true,"schema":{"type":"string"}},{"name":"user-tr-no","in":"header","description":"거래고유번호(고객 생성)","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/im.hyphen.market.infotech.dao.req.IN0002000433Req"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/im.hyphen.market.infotech.dao.res.IN0002000433Resp"}}}}},"servers":[{"url":"https://api.hyphen.im","description":"Production Server"},{"url":"http://localhost:9092","description":"Production Server"}]}},"/in0002000432":{"post":{"tags":["국민건강보험공단 API"],"summary":"건강검진결과 한눈에 보기","operationId":"in0002000432","parameters":[{"name":"hyphen-gustation","in":"header","description":"실 사용시엔 이 필드를 제거하세요","required":true,"schema":{"type":"string","example":"Y"}},{"name":"user-id","in":"header","description":"회원ID(회원가입시 생성)","required":true,"schema":{"type":"string"}},{"name":"Hkey","in":"header","description":"H보안키(회원가입 후 이메일로 전달)","required":true,"schema":{"type":"string"}},{"name":"user-tr-no","in":"header","description":"거래고유번호(고객 생성)","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/im.hyphen.market.infotech.dao.req.IN0002000432Req"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IN0002000432Resp"}}}}},"servers":[{"url":"https://api.hyphen.im","description":"Production Server"},{"url":"http://localhost:9092","description":"Production Server"}]}},"/in0002000431":{"post":{"tags":["국민건강보험공단 API"],"summary":"연도별건강검진결과조회","operationId":"in0002000431","parameters":[{"name":"hyphen-gustation","in":"header","description":"실 사용시엔 이 필드를 제거하세요","required":true,"schema":{"type":"string","example":"Y"}},{"name":"user-id","in":"header","description":"회원ID(회원가입시 생성)","required":true,"schema":{"type":"string"}},{"name":"Hkey","in":"header","description":"H보안키(회원가입 후 이메일로 전달)","required":true,"schema":{"type":"string"}},{"name":"user-tr-no","in":"header","description":"거래고유번호(고객 생성)","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/im.hyphen.market.infotech.dao.req.IN0002000431Req"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/im.hyphen.market.infotech.dao.res.IN0002000431Resp"}}}}},"servers":[{"url":"https://api.hyphen.im","description":"Production Server"},{"url":"http://localhost:9092","description":"Production Server"}]}},"/in0002000430":{"post":{"tags":["국민건강보험공단 API"],"summary":"건강검진결과목록조회","operationId":"in0002000430","parameters":[{"name":"hyphen-gustation","in":"header","description":"실 사용시엔 이 필드를 제거하세요","required":true,"schema":{"type":"string","example":"Y"}},{"name":"user-id","in":"header","description":"회원ID(회원가입시 생성)","required":true,"schema":{"type":"string"}},{"name":"Hkey","in":"header","description":"H보안키(회원가입 후 이메일로 전달)","required":true,"schema":{"type":"string"}},{"name":"user-tr-no","in":"header","description":"거래고유번호(고객 생성)","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/im.hyphen.market.infotech.dao.req.IN0002000430Req"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/im.hyphen.market.infotech.dao.res.IN0002000430Resp"}}}}},"servers":[{"url":"https://api.hyphen.im","description":"Production Server"},{"url":"http://localhost:9092","description":"Production Server"}]}},"/in0002000429":{"post":{"tags":["국민건강보험 API"],"summary":"건강검진대상조회","operationId":"in0002000429","parameters":[{"name":"hyphen-gustation","in":"header","description":"실 사용시엔 이 필드를 제거하세요","required":true,"schema":{"type":"string","example":"Y"}},{"name":"user-id","in":"header","description":"회원ID(회원가입시 생성)","required":true,"schema":{"type":"string"}},{"name":"Hkey","in":"header","description":"H보안키(회원가입 후 이메일로 전달)","required":true,"schema":{"type":"string"}},{"name":"user-tr-no","in":"header","description":"거래고유번호(고객 생성)","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/im.hyphen.market.infotech.dao.req.IN0002000429Req"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IN0002000429Resp"}}}}},"servers":[{"url":"https://api.hyphen.im","description":"Production Server"},{"url":"http://localhost:9092","description":"Production Server"}]}},"/in0002000428":{"post":{"tags":["국민건강보험공단 API"],"summary":"투약 정보 조회","operationId":"in0002000428","parameters":[{"name":"hyphen-gustation","in":"header","description":"실 사용시엔 이 필드를 제거하세요","required":true,"schema":{"type":"string","example":"Y"}},{"name":"user-id","in":"header","description":"회원ID(회원가입시 생성)","required":true,"schema":{"type":"string"}},{"name":"Hkey","in":"header","description":"H보안키(회원가입 후 이메일로 전달)","required":true,"schema":{"type":"string"}},{"name":"user-tr-no","in":"header","description":"거래고유번호(고객 생성)","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/im.hyphen.market.infotech.dao.req.IN0002000428Req"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IN0002000428Resp"}}}}},"servers":[{"url":"https://api.hyphen.im","description":"Production Server"},{"url":"http://localhost:9092","description":"Production Server"}]}},"/in0002000427":{"post":{"tags":["국민건강보험공단 API"],"summary":"진료 정보 조회","operationId":"in0002000427","parameters":[{"name":"hyphen-gustation","in":"header","description":"실 사용시엔 이 필드를 제거하세요","required":true,"schema":{"type":"string","example":"Y"}},{"name":"user-id","in":"header","description":"회원ID(회원가입시 생성)","required":true,"schema":{"type":"string"}},{"name":"Hkey","in":"header","description":"H보안키(회원가입 후 이메일로 전달)","required":true,"schema":{"type":"string"}},{"name":"user-tr-no","in":"header","description":"거래고유번호(고객 생성)","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/im.hyphen.market.infotech.dao.req.IN0002000427Req"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IN0002000427Resp"}}}}},"servers":[{"url":"https://api.hyphen.im","description":"Production Server"},{"url":"http://localhost:9092","description":"Production Server"}]}}},"components":{"schemas":{"im.hyphen.market.infotech.dao.req.IN0002000436Req":{"type":"object","properties":{"loginMethod":{"type":"string","description":"로그인구분(CERT:인증서로그인, EASY : 간편 로그인)"},"signCert":{"type":"string","description":"인증서정보(인증서PEM 문자열) *인증서로그인 필수 - 공인인증서모듈설치 필요"},"signPri":{"type":"string","description":"개인키정보(개인키PEM 문자열) *인증서로그인 필수 - 공인인증서모듈설치 필요"},"signPw":{"type":"string","description":"인증서 비밀번호 *인증서로그인 signPw 또는 signPwEnc필수"},"loginOrgCd":{"type":"string","description":"간편로그인 기관 구분(pass : PASS인증, kakao : 카카오톡, payco : 페이코, kica : 삼성패스, kb : KB스타뱅킹, naver : 네이버, shinhan : 신한인증서, toss : 토스인증서) *간편로그인시 필수"},"resNm":{"type":"string","description":"이름 *간편로그인시 필수"},"resNo":{"type":"string","description":"생년월일(YYYYMMDD) *간편로그인시 필수"},"mobileNo":{"type":"string","description":"휴대폰번호 *간편로그인시 필수"},"mobileCo":{"type":"string","description":"통신사(S : SKT K : KT L : LGT) *간편로그인 PASS인증시 필수"},"stepMode":{"type":"string","description":"간편로그인 단계 구분(step : 2단계(요청->로그인)로 나눠 진행 nostep : 1단계로 진행) *간편로그인 필수"},"step":{"type":"string","description":"간편로그인 단계(init : 간편인증 요청, sign : 간편인증 후 로그인) *stepMode가 'step'인 경우 필수 입력"},"step_data":{"type":"string","description":"로그인 사용데이터(내부용) *init단계 결과의 'step_data'를 그대로 입력, stepMode가 'step'인 경우 필수"},"cloudCertYn":{"type":"string","description":"금융인증서 사용여부(Y/N)"},"cloudCert":{"type":"string","description":"금융인증서정보"},"showCookie":{"type":"string","description":"세션정보 요청 구분(Y : 세션정보 가져오기) *출력 데이터의 \"cookieData\"에 세션정보 리턴"},"cookieData":{"type":"string","description":"세션정보 입력(입력 시 해당 세션정보 재사용) * 계속 유지를 원할 시 조회마다 나오는   \"cookieData\" 값을 새로 세팅해야 함"},"userId":{"type":"string","description":"국민건강보험공단 사용자아이디(개인사업자 필수)"},"bizNo":{"type":"string","description":"주민등록번호(전체자리 입력 시 공동인증서 자동 등록 후 진행)"}}},"IN0002000436Data":{"type":"object","properties":{"stepData":{"type":"string","description":"내부 사용데이터(간편로그인시 step2 요청의 step_date에그대로 입력)"},"cookieData":{"type":"string","description":"세션정보(요청값의  showCookie Y인 경우 다음 요청시 cookieData에 그대로 입력)"},"list":{"type":"array","description":"자격확인내역","items":{"$ref":"#/components/schemas/ResultList"}}},"description":"개별부 데이터"},"ResHealthCheckup":{"type":"object","properties":{"checkUpType":{"type":"string","description":"검진타입"},"height":{"type":"string","description":"키"},"weight":{"type":"string","description":"몸무게"},"headSize":{"type":"string","description":"머리둘레"},"bodyCondition":{"type":"string","description":"전신상태"},"skin":{"type":"string","description":"피부"},"face":{"type":"string","description":"머리/안면"},"eye":{"type":"string","description":"눈"},"nose":{"type":"string","description":"코"},"ear":{"type":"string","description":"귀"},"mouth":{"type":"string","description":"구강"},"neck":{"type":"string","description":"경부"},"chest":{"type":"string","description":"흉부"},"lung":{"type":"string","description":"폐"},"heart":{"type":"string","description":"심장"},"stomach":{"type":"string","description":"복부"},"genitals":{"type":"string","description":"생식기"},"사지":{"type":"string","description":"사지"},"spine":{"type":"string","description":"척추"},"nerve":{"type":"string","description":"신경학적검사"},"vision":{"type":"string","description":"시각"},"hearing":{"type":"string","description":"청각"},"total":{"type":"string","description":"종합판정"}},"description":"급여정지사유 및 기간"},"RespCommon":{"type":"object","properties":{"userTrNo":{"type":"string","description":"사용자 거래고유번호(사용자 생성)"},"hyphenTrNo":{"type":"string","description":"하이픈 고유거래번호(하이픈 생성)"},"errYn":{"type":"string","description":"오류여부(Y : 오류, N : 정상)"},"errCd":{"type":"string","description":"오류코드"},"errMsg":{"type":"string","description":"오류메세지"}},"description":"공통부"},"ResultList":{"type":"object","properties":{"name":{"type":"string","description":"영유아이름"},"bizNo":{"type":"string","description":"영유아주민번호"},"inqryResList":{"type":"array","description":"급여정지사유 및 기간","items":{"$ref":"#/components/schemas/ResHealthCheckup"}}},"description":"자격확인내역"},"im.hyphen.market.infotech.dao.res.IN0002000436Resp":{"type":"object","properties":{"common":{"$ref":"#/components/schemas/RespCommon"},"data":{"$ref":"#/components/schemas/IN0002000436Data"}}},"im.hyphen.market.infotech.dao.req.IN0002000435Req":{"type":"object","properties":{"loginMethod":{"type":"string","description":"로그인구분(CERT:인증서로그인, EASY : 간편 로그인)"},"signCert":{"type":"string","description":"인증서정보(인증서PEM 문자열) *인증서로그인 필수 - 공인인증서모듈설치 필요"},"signPri":{"type":"string","description":"개인키정보(개인키PEM 문자열) *인증서로그인 필수 - 공인인증서모듈설치 필요"},"signPw":{"type":"string","description":"인증서 비밀번호 *인증서로그인 signPw 또는 signPwEnc필수"},"loginOrgCd":{"type":"string","description":"간편로그인 기관 구분(pass : PASS인증, kakao : 카카오톡, payco : 페이코, kica : 삼성패스, kb : KB스타뱅킹, naver : 네이버, shinhan : 신한인증서, toss : 토스인증서) *간편로그인시 필수"},"resNm":{"type":"string","description":"이름 *간편로그인시 필수"},"resNo":{"type":"string","description":"생년월일(YYYYMMDD) *간편로그인시 필수"},"mobileNo":{"type":"string","description":"휴대폰번호 *간편로그인시 필수"},"mobileCo":{"type":"string","description":"통신사(S : SKT K : KT L : LGT) *간편로그인 PASS인증시 필수"},"stepMode":{"type":"string","description":"간편로그인 단계 구분(step : 2단계(요청->로그인)로 나눠 진행 nostep : 1단계로 진행) *간편로그인 필수"},"step":{"type":"string","description":"간편로그인 단계(init : 간편인증 요청, sign : 간편인증 후 로그인) *stepMode가 'step'인 경우 필수 입력"},"step_data":{"type":"string","description":"로그인 사용데이터(내부용) *init단계 결과의 'step_data'를 그대로 입력, stepMode가 'step'인 경우 필수"},"cloudCertYn":{"type":"string","description":"금융인증서 사용여부(Y/N)"},"cloudCert":{"type":"string","description":"금융인증서정보"},"showCookie":{"type":"string","description":"세션정보 요청 구분(Y : 세션정보 가져오기) *출력 데이터의 \"cookieData\"에 세션정보 리턴"},"cookieData":{"type":"string","description":"세션정보 입력(입력 시 해당 세션정보 재사용) * 계속 유지를 원할 시 조회마다 나오는   \"cookieData\" 값을 새로 세팅해야 함"},"userId":{"type":"string","description":"국민건강보험공단 사용자아이디(개인사업자 필수)"},"bizNo":{"type":"string","description":"주민등록번호(전체자리 입력 시 공동인증서 자동 등록 후 진행)"}}},"IN0002000435Data":{"type":"object","properties":{"stepData":{"type":"string","description":"내부 사용데이터(간편로그인시 step2 요청의 step_date에그대로 입력)"},"cookieData":{"type":"string","description":"세션정보(요청값의  showCookie Y인 경우 다음 요청시 cookieData에 그대로 입력)"},"list":{"type":"array","description":"자격확인내역","items":{"$ref":"#/components/schemas/ResultList"}}},"description":"개별부 데이터"},"im.hyphen.market.infotech.dao.res.IN0002000435Resp":{"type":"object","properties":{"common":{"$ref":"#/components/schemas/RespCommon"},"data":{"$ref":"#/components/schemas/IN0002000435Data"}}},"im.hyphen.market.infotech.dao.req.IN0002000434Req":{"type":"object","properties":{"loginMethod":{"type":"string","description":"로그인구분(CERT:인증서로그인, EASY : 간편 로그인)"},"signCert":{"type":"string","description":"인증서정보(인증서PEM 문자열) *인증서로그인 필수 - 공인인증서모듈설치 필요"},"signPri":{"type":"string","description":"개인키정보(개인키PEM 문자열) *인증서로그인 필수 - 공인인증서모듈설치 필요"},"signPw":{"type":"string","description":"인증서 비밀번호 *인증서로그인 signPw 또는 signPwEnc필수"},"loginOrgCd":{"type":"string","description":"간편로그인 기관 구분(pass : PASS인증, kakao : 카카오톡, payco : 페이코, kica : 삼성패스, kb : KB스타뱅킹, naver : 네이버, shinhan : 신한인증서, toss : 토스인증서) *간편로그인시 필수"},"resNm":{"type":"string","description":"이름 *간편로그인시 필수"},"resNo":{"type":"string","description":"생년월일(YYYYMMDD) *간편로그인시 필수"},"mobileNo":{"type":"string","description":"휴대폰번호 *간편로그인시 필수"},"mobileCo":{"type":"string","description":"통신사(S : SKT K : KT L : LGT) *간편로그인 PASS인증시 필수"},"stepMode":{"type":"string","description":"간편로그인 단계 구분(step : 2단계(요청->로그인)로 나눠 진행 nostep : 1단계로 진행) *간편로그인 필수"},"step":{"type":"string","description":"간편로그인 단계(init : 간편인증 요청, sign : 간편인증 후 로그인) *stepMode가 'step'인 경우 필수 입력"},"step_data":{"type":"string","description":"로그인 사용데이터(내부용) *init단계 결과의 'step_data'를 그대로 입력, stepMode가 'step'인 경우 필수"},"cloudCertYn":{"type":"string","description":"금융인증서 사용여부(Y/N)"},"cloudCert":{"type":"string","description":"금융인증서정보"},"showCookie":{"type":"string","description":"세션정보 요청 구분(Y : 세션정보 가져오기) *출력 데이터의 \"cookieData\"에 세션정보 리턴"},"cookieData":{"type":"string","description":"세션정보 입력(입력 시 해당 세션정보 재사용) * 계속 유지를 원할 시 조회마다 나오는   \"cookieData\" 값을 새로 세팅해야 함"},"userId":{"type":"string","description":"국민건강보험공단 사용자아이디(개인사업자 필수)"},"bizNo":{"type":"string","description":"주민등록번호(전체자리 입력 시 공동인증서 자동 등록 후 진행)"}}},"IN0002000434Data":{"type":"object","properties":{"date":{"type":"string","description":"건강검진일"},"healthAge":{"type":"string","description":"건강나이"},"age":{"type":"string","description":"실제나이"},"advice":{"type":"string","description":"advice"},"step_data":{"type":"string","description":"내부 사용데이터(간편로그인시 step2 요청의 step_data에 그대로 입력)"}},"description":"개별부 데이터"},"im.hyphen.market.infotech.dao.res.IN0002000434Resp":{"type":"object","properties":{"common":{"$ref":"#/components/schemas/RespCommon"},"data":{"$ref":"#/components/schemas/IN0002000434Data"}}},"im.hyphen.market.infotech.dao.req.IN0002000433Req":{"type":"object","properties":{"loginMethod":{"type":"string","description":"로그인구분(CERT:인증서로그인, EASY : 간편 로그인)"},"signCert":{"type":"string","description":"인증서정보(인증서PEM 문자열) *인증서로그인 필수 - 공인인증서모듈설치 필요"},"signPri":{"type":"string","description":"개인키정보(개인키PEM 문자열) *인증서로그인 필수 - 공인인증서모듈설치 필요"},"signPw":{"type":"string","description":"인증서 비밀번호 *인증서로그인 signPw 또는 signPwEnc필수"},"loginOrgCd":{"type":"string","description":"간편로그인 기관 구분(pass : PASS인증, kakao : 카카오톡, payco : 페이코, kica : 삼성패스, kb : KB스타뱅킹, naver : 네이버, shinhan : 신한인증서, toss : 토스인증서) *간편로그인시 필수"},"resNm":{"type":"string","description":"이름 *간편로그인시 필수"},"resNo":{"type":"string","description":"생년월일(YYYYMMDD) *간편로그인시 필수"},"mobileNo":{"type":"string","description":"휴대폰번호 *간편로그인시 필수"},"mobileCo":{"type":"string","description":"통신사(S : SKT K : KT L : LGT) *간편로그인 PASS인증시 필수"},"stepMode":{"type":"string","description":"간편로그인 단계 구분(step : 2단계(요청->로그인)로 나눠 진행 nostep : 1단계로 진행) *간편로그인 필수"},"step":{"type":"string","description":"간편로그인 단계(init : 간편인증 요청, sign : 간편인증 후 로그인) *stepMode가 'step'인 경우 필수 입력"},"step_data":{"type":"string","description":"로그인 사용데이터(내부용) *init단계 결과의 'step_data'를 그대로 입력, stepMode가 'step'인 경우 필수"},"cloudCertYn":{"type":"string","description":"금융인증서 사용여부(Y/N)"},"cloudCert":{"type":"string","description":"금융인증서정보"},"showCookie":{"type":"string","description":"세션정보 요청 구분(Y : 세션정보 가져오기) *출력 데이터의 \"cookieData\"에 세션정보 리턴"},"cookieData":{"type":"string","description":"세션정보 입력(입력 시 해당 세션정보 재사용) * 계속 유지를 원할 시 조회마다 나오는   \"cookieData\" 값을 새로 세팅해야 함"},"userId":{"type":"string","description":"국민건강보험공단 사용자아이디(개인사업자 필수)"},"bizNo":{"type":"string","description":"주민등록번호(전체자리 입력 시 공동인증서 자동 등록 후 진행)"}}},"IN0002000422Data":{"type":"object","properties":{"usage":{"type":"string","description":"요양기관용"},"reqDate":{"type":"string","description":"자격확인요청일"},"certNo":{"type":"string","description":"증번호"},"bizNo":{"type":"string","description":"사업장관리번호"},"householderNm":{"type":"string","description":"세대주성명"},"householderNo":{"type":"string","description":"세대주주민번호"},"cookieData":{"type":"string","description":"세션정보(요청값의  showCookie Y인 경우 다음 요청시 cookieData에 그대로 입력)"},"pdfHex":{"type":"string","description":"PDF파일 HEX값(요청시 pdfYn이 'Y'인 경우 출력)"},"list":{"type":"array","description":"자격확인내역","items":{"$ref":"#/components/schemas/RightList"}}},"description":"개별부 데이터"},"RightList":{"type":"object","properties":{"memberNm":{"type":"string","description":"성명"},"memberNo":{"type":"string","description":"주민등록번호"},"acqDate":{"type":"string","description":"자격취득일"},"loseDate":{"type":"string","description":"자격상실일"},"zoneNm":{"type":"string","description":"급여정지사유 및 기간"}},"description":"자격확인내역"},"im.hyphen.market.infotech.dao.res.IN0002000433Resp":{"type":"object","properties":{"common":{"$ref":"#/components/schemas/RespCommon"},"data":{"$ref":"#/components/schemas/IN0002000422Data"}}},"im.hyphen.market.infotech.dao.req.IN0002000432Req":{"required":["loginMethod"],"type":"object","properties":{"loginMethod":{"type":"string","description":"로그인 구분(CERT: 인증서 로그인, EASY: 간편 로그인)"},"signCert":{"type":"string","description":"인증서정보(인증서PEM 문자열) *인증서로그인 필수 - 공인인증서모듈설치 필요"},"signPri":{"type":"string","description":"개인키정보(개인키PEM 문자열) *인증서로그인 필수 - 공인인증서모듈설치 필요"},"signPw":{"type":"string","description":"인증서 비밀번호 *인증서로그인 signPw 또는 signPwEnc필수"},"loginOrgCd":{"type":"string","description":"간편로그인 기관 구분(pass : PASS인증, kakao : 카카오톡, payco : 페이코, kica : 삼성패스, kb : KB스타뱅킹, naver : 네이버, shinhan : 신한인증서, toss : 토스인증서)"},"resNm":{"type":"string","description":"이름 *간편로그인시 필수"},"resNo":{"type":"string","description":"생년월일(YYYYMMDD) *간편로그인시 필수"},"mobileNo":{"type":"string","description":"휴대폰 번호 *간편로그인시 필수"},"mobileCo":{"type":"string","description":"통신사(S: SKT, K: KT, L: LGT) *간편로그인 PASS인증시 필수"},"stepMode":{"type":"string","description":"간편로그인 단계 구분(step : 2단계(요청 → 로그인)로 나눠 진행, nostep : 1단계로 진행) *간편로그인 필수"},"step":{"type":"string","description":"간편로그인 단계(init: 간편인증 요청, sign: 간편인증 후 로그인) *stepMode가 'step'인 경우 필수 입력"},"step_data":{"type":"string","description":"로그인 사용 데이터(내부용) *init단계 결과의 'step_data'를 그대로 입력, stepMode가 'step'인 경우 필수"},"cloudCertYn":{"type":"string","description":"금융인증서 사용여부(Y/N) *금융인증서 로그인시 필수"},"cloudCert":{"type":"string","description":"금융인증서 정보 *금융인증서 로그인시 필수"},"showCookie":{"type":"string","description":"세션 정보 요청 구분(Y: 세션 정보 가져오기) *출력 데이터의 'cookieData'에 세션 정보 리턴"},"cookieData":{"type":"string","description":"세션 정보 입력(입력 시 해당 세션 정보를 재사용) *계속 유지를 원할 시 조회마다 나오는 'cookieData' 값을 새로 세팅해야 함"},"userId":{"type":"string","description":"국민건강보험공단 사용자 아이디(개인사업자 필수)"},"bizNo":{"type":"string","description":"주민등록번호(전체자리 입력 시 공동인증서 자동 등록 후 진행)"}}},"CheckupDetail":{"required":["div","inspectItem","normalA","normalB","result","suspicionDis","targetDis","type","unit"],"type":"object","properties":{"type":{"type":"string","description":"구분"},"targetDis":{"type":"string","description":"목표질환"},"inspectItem":{"type":"string","description":"검사항목"},"div":{"type":"string","description":"분류"},"result":{"type":"string","description":"결과"},"unit":{"type":"string","description":"단위"},"normalA":{"type":"string","description":"정상(A)"},"normalB":{"type":"string","description":"정상(B)"},"suspicionDis":{"type":"string","description":"질환의심"}},"description":"검진결과 상세"},"CheckupResult":{"required":["chkAgency","chkResult","opinion","result","year"],"type":"object","properties":{"year":{"type":"string","description":"년도"},"result":{"type":"string","description":"판정"},"chkAgency":{"type":"string","description":"검진기관"},"opinion":{"type":"string","description":"소견"},"chkResult":{"type":"array","description":"검진결과 상세","items":{"$ref":"#/components/schemas/CheckupDetail"}}},"description":"검진결과 목록"},"IN0002000432":{"required":["list"],"type":"object","properties":{"list":{"type":"array","description":"검진결과 목록","items":{"$ref":"#/components/schemas/CheckupResult"}},"errYn":{"type":"string","description":"에러 여부"},"stepData":{"type":"string","description":"내부 사용데이터(step2 요청의 step_date에 그대로 입력)"},"cookieData":{"type":"string","description":"세션정보(요청값의 showCookie Y인 경우 다음 요청시 cookieData에 그대로 입력)"}},"description":"개별부 데이터"},"IN0002000432Resp":{"type":"object","properties":{"common":{"$ref":"#/components/schemas/RespCommon"},"data":{"$ref":"#/components/schemas/IN0002000432"}}},"im.hyphen.market.infotech.dao.req.IN0002000431Req":{"type":"object","properties":{"loginMethod":{"type":"string","description":"로그인구분(CERT:인증서로그인, EASY : 간편 로그인)"},"signCert":{"type":"string","description":"인증서정보(인증서PEM 문자열) *인증서로그인 필수 - 공인인증서모듈설치 필요"},"signPri":{"type":"string","description":"개인키정보(개인키PEM 문자열) *인증서로그인 필수 - 공인인증서모듈설치 필요"},"signPw":{"type":"string","description":"인증서 비밀번호 *인증서로그인 signPw 또는 signPwEnc필수"},"loginOrgCd":{"type":"string","description":"간편로그인 기관 구분(pass : PASS인증, kakao : 카카오톡, payco : 페이코, kica : 삼성패스, kb : KB스타뱅킹, naver : 네이버, shinhan : 신한인증서, toss : 토스인증서) *간편로그인시 필수"},"resNm":{"type":"string","description":"이름 *간편로그인시 필수"},"resNo":{"type":"string","description":"생년월일(YYYYMMDD) *간편로그인시 필수"},"mobileNo":{"type":"string","description":"휴대폰번호 *간편로그인시 필수"},"mobileCo":{"type":"string","description":"통신사(S : SKT K : KT L : LGT) *간편로그인 PASS인증시 필수"},"stepMode":{"type":"string","description":"간편로그인 단계 구분(step : 2단계(요청->로그인)로 나눠 진행 nostep : 1단계로 진행) *간편로그인 필수"},"step":{"type":"string","description":"간편로그인 단계(init : 간편인증 요청, sign : 간편인증 후 로그인) *stepMode가 'step'인 경우 필수 입력"},"step_data":{"type":"string","description":"로그인 사용데이터(내부용) *init단계 결과의 'step_data'를 그대로 입력, stepMode가 'step'인 경우 필수"},"cloudCertYn":{"type":"string","description":"금융인증서 사용여부(Y/N)"},"cloudCert":{"type":"string","description":"금융인증서정보"},"showCookie":{"type":"string","description":"세션정보 요청 구분(Y : 세션정보 가져오기) *출력 데이터의 \"cookieData\"에 세션정보 리턴"},"cookieData":{"type":"string","description":"세션정보 입력(입력 시 해당 세션정보 재사용) * 계속 유지를 원할 시 조회마다 나오는   \"cookieData\" 값을 새로 세팅해야 함"},"userId":{"type":"string","description":"국민건강보험공단 사용자아이디(개인사업자 필수)"},"bizNo":{"type":"string","description":"주민등록번호(전체자리 입력 시 공동인증서 자동 등록 후 진행)"},"detailKey":{"type":"string","description":"검진결과 key(건강검진결과목록 조회시 수신)"},"detailKey2":{"type":"string","description":"검진결과 key(건강검진결과목록 조회시 수신)"},"coption":{"type":"string"}}},"CheckList":{"type":"object","properties":{"qtitle":{"type":"string","description":"질의구분명"},"itemList":{"type":"array","description":"응답리스트","items":{"$ref":"#/components/schemas/ItemList"}}},"description":"문항 list"},"IN0002000431Data":{"required":["cookieData"],"type":"object","properties":{"detailKey":{"type":"string","description":"검진결과 key(건강검진결과목록 조회시 수신)"},"detailKey2":{"type":"string","description":"검진결과 key(건강검진결과목록 조회시 수신)"},"cookieData":{"type":"string","description":"세션정보(요청값의 showCookie Y인 경우 다음 요청시 cookieData에 그대로 입력)"},"list":{"type":"array","description":"문진정보 list","items":{"$ref":"#/components/schemas/InfoList"}},"XML":{"type":"string","description":"검진결과"},"stepData":{"type":"string","description":"내부 사용데이터(step2 요청의 step_date에그대로 입력)"}},"description":"개별부 데이터"},"InfoList":{"type":"object","properties":{"title":{"type":"string","description":"문항 그룹명"},"checkList":{"type":"array","description":"문항 list","items":{"$ref":"#/components/schemas/CheckList"}}},"description":"문진정보 list"},"ItemList":{"type":"object","properties":{"itemName":{"type":"string","description":"응답구분명"},"itemData":{"type":"string","description":"응답값"}},"description":"응답리스트"},"im.hyphen.market.infotech.dao.res.IN0002000431Resp":{"type":"object","properties":{"common":{"$ref":"#/components/schemas/RespCommon"},"data":{"$ref":"#/components/schemas/IN0002000431Data"}}},"im.hyphen.market.infotech.dao.req.IN0002000430Req":{"type":"object","properties":{"loginMethod":{"type":"string","description":"로그인구분(CERT:인증서로그인, EASY : 간편 로그인)"},"signCert":{"type":"string","description":"인증서정보(인증서PEM 문자열) *인증서로그인 필수 - 공인인증서모듈설치 필요"},"signPri":{"type":"string","description":"개인키정보(개인키PEM 문자열) *인증서로그인 필수 - 공인인증서모듈설치 필요"},"signPw":{"type":"string","description":"인증서 비밀번호 *인증서로그인 signPw 또는 signPwEnc필수"},"loginOrgCd":{"type":"string","description":"간편로그인 기관 구분(pass : PASS인증, kakao : 카카오톡, payco : 페이코, kica : 삼성패스, kb : KB스타뱅킹, naver : 네이버, shinhan : 신한인증서, toss : 토스인증서) *간편로그인시 필수"},"resNm":{"type":"string","description":"이름 *간편로그인시 필수"},"resNo":{"type":"string","description":"생년월일(YYYYMMDD) *간편로그인시 필수"},"mobileNo":{"type":"string","description":"휴대폰번호 *간편로그인시 필수"},"mobileCo":{"type":"string","description":"통신사(S : SKT K : KT L : LGT) *간편로그인 PASS인증시 필수"},"stepMode":{"type":"string","description":"간편로그인 단계 구분(step : 2단계(요청->로그인)로 나눠 진행 nostep : 1단계로 진행) *간편로그인 필수"},"step":{"type":"string","description":"간편로그인 단계(init : 간편인증 요청, sign : 간편인증 후 로그인) *stepMode가 'step'인 경우 필수 입력"},"step_data":{"type":"string","description":"로그인 사용데이터(내부용) *init단계 결과의 'step_data'를 그대로 입력, stepMode가 'step'인 경우 필수"},"cloudCertYn":{"type":"string","description":"금융인증서 사용여부(Y/N)"},"cloudCert":{"type":"string","description":"금융인증서정보"},"showCookie":{"type":"string","description":"세션정보 요청 구분(Y : 세션정보 가져오기) *출력 데이터의 \"cookieData\"에 세션정보 리턴"},"cookieData":{"type":"string","description":"세션정보 입력(입력 시 해당 세션정보 재사용) * 계속 유지를 원할 시 조회마다 나오는   \"cookieData\" 값을 새로 세팅해야 함"},"userId":{"type":"string","description":"국민건강보험공단 사용자아이디(개인사업자 필수)"},"bizNo":{"type":"string","description":"주민등록번호(전체자리 입력 시 공동인증서 자동 등록 후 진행)"},"yyyy":{"type":"string","description":"조회년도"}}},"IN0002000430Data":{"required":["cookieData"],"type":"object","properties":{"cookieData":{"type":"string","description":"세션 정보"},"list":{"type":"array","description":"자격확인내역","items":{"$ref":"#/components/schemas/ResultList"}},"step_data":{"type":"string","description":"내부 사용데이터(step2 요청의 step_date에그대로 입력)"}},"description":"개별부 데이터"},"im.hyphen.market.infotech.dao.res.IN0002000430Resp":{"type":"object","properties":{"common":{"$ref":"#/components/schemas/RespCommon"},"data":{"$ref":"#/components/schemas/IN0002000430Data"}}},"im.hyphen.market.infotech.dao.req.IN0002000429Req":{"required":["loginMethod"],"type":"object","properties":{"loginMethod":{"type":"string","description":"로그인 구분(CERT: 인증서 로그인, EASY: 간편 로그인)"},"signCert":{"type":"string","description":"인증서정보(인증서PEM 문자열) *인증서로그인 필수 - 공인인증서모듈설치 필요"},"signPri":{"type":"string","description":"개인키정보(개인키PEM 문자열) *인증서로그인 필수 - 공인인증서모듈설치 필요"},"signPw":{"type":"string","description":"인증서 비밀번호 *인증서로그인 signPw 또는 signPwEnc필수"},"loginOrgCd":{"type":"string","description":"간편로그인 기관 구분(pass : PASS 인증, kakao : 카카오톡, payco : 페이코, kica : 삼성패스, kb : KB스타뱅킹, naver : 네이버, shinhan : 신한인증서, toss : 토스인증서)"},"resNm":{"type":"string","description":"이름(간편로그인 시 필수)"},"resNo":{"type":"string","description":"생년월일(YYYYMMDD) *간편로그인 시 필수"},"mobileNo":{"type":"string","description":"휴대폰 번호(간편로그인 시 필수)"},"mobileCo":{"type":"string","description":"통신사(S: SKT, K: KT, L: LGT) *간편로그인 PASS 인증 시 필수"},"stepMode":{"type":"string","description":"간편로그인 단계 구분(step: 2단계로 나누어 진행, nostep: 1단계로 진행) *간편로그인 시 필수"},"step":{"type":"string","description":"간편로그인 단계(init: 간편 인증 요청, sign: 간편 인증 후 로그인) *stepMode가 'step'인 경우 필수 입력"},"step_data":{"type":"string","description":"로그인 사용 데이터(내부용) *init 단계 결과의 'step_data'를 그대로 입력, stepMode가 'step'인 경우 필수"},"cloudCertYn":{"type":"string","description":"금융 인증서 사용 여부(Y/N) *금융 인증서 로그인 시 필수"},"cloudCert":{"type":"string","description":"금융 인증서 정보 *금융 인증서 로그인 시 필수"},"showCookie":{"type":"string","description":"세션 정보 요청 구분(Y: 세션 정보 가져오기) *출력 데이터의 'cookieData'에 세션 정보 리턴"},"cookieData":{"type":"string","description":"세션 정보 입력(입력 시 해당 세션 정보 재사용) * 계속 유지를 원할 시 조회마다 나오는 'cookieData' 값을 새로 세팅해야 함"},"userId":{"type":"string","description":"국민건강보험공단 사용자 아이디(개인사업자 로그인 시 필수)"},"bizNo":{"type":"string","description":"주민등록번호(전체 자리 입력 시 공동인증서 자동 등록 후 진행)"}}},"DataList":{"required":["cancerChk","gvCancerSup","type"],"type":"object","properties":{"type":{"type":"string","description":"구분"},"cancerChk":{"type":"string","description":"암검진"},"gvCancerSup":{"type":"string","description":"국가암의료비지원대상"}},"description":"리스트"},"IN0002000429":{"required":["birthDate","businessYear","cookieData","firstChk","gvCancerSupCenter","hepatitisB","hepatitisC","list","name","oralChk","secondChk","stepData"],"type":"object","properties":{"list":{"type":"array","description":"리스트","items":{"$ref":"#/components/schemas/DataList"}},"name":{"type":"string","description":"이름"},"birthDate":{"type":"string","description":"생일"},"businessYear":{"type":"string","description":"사업년도"},"firstChk":{"type":"string","description":"일반검진"},"oralChk":{"type":"string","description":"구강검진"},"secondChk":{"type":"string","description":"확진검진"},"hepatitisB":{"type":"string","description":"B형간염검사(만40세)"},"hepatitisC":{"type":"string","description":"C형간염검사"},"gvCancerSupCenter":{"type":"string","description":"국가암의료비지원대상 관할보건소"},"stepData":{"type":"string","description":"내부 사용데이터(step2 요청의 step_date에 그대로 입력)"},"cookieData":{"type":"string","description":"세션정보(요청값의 showCookie Y인 경우 다음 요청시 cookieData에 그대로 입력)"}},"description":"개별부 데이터"},"IN0002000429Resp":{"required":["common","data"],"type":"object","properties":{"common":{"$ref":"#/components/schemas/RespCommon"},"data":{"$ref":"#/components/schemas/IN0002000429"}}},"im.hyphen.market.infotech.dao.req.IN0002000428Req":{"required":["cloudCertYn","loginMethod","signCert","signPri","signPw"],"type":"object","properties":{"loginMethod":{"type":"string","description":"로그인구분(CERT: 인증서로그인, EASY: 간편 로그인)"},"signCert":{"type":"string","description":"인증서정보(인증서PEM 문자열) *인증서로그인 필수 - 공인인증서모듈설치 필요"},"signPri":{"type":"string","description":"개인키정보(개인키PEM 문자열) *인증서로그인 필수 - 공인인증서모듈설치 필요"},"signPw":{"type":"string","description":"인증서 비밀번호 *인증서로그인 signPw 또는 signPwEnc필수"},"loginOrgCd":{"type":"string","description":"간편로그인 기관 구분(pass : PASS인증, kakao : 카카오톡, payco : 페이코, kica : 삼성패스, kb : KB스타뱅킹, naver : 네이버, shinhan : 신한인증서, toss : 토스인증서)"},"resNm":{"type":"string","description":"이름 *간편로그인시 필수"},"resNo":{"type":"string","description":"생년월일(YYYYMMDD) *간편로그인시 필수"},"mobileNo":{"type":"string","description":"휴대폰번호 *간편로그인시 필수"},"mobileCo":{"type":"string","description":"통신사(S : SKT, K : KT, L : LGT) *간편로그인 PASS인증시 필수"},"stepMode":{"type":"string","description":"간편로그인 단계 구분(step : 2단계로 나눠 진행, nostep : 1단계로 진행) *간편로그인 필수"},"step":{"type":"string","description":"간편로그인 단계(init : 간편인증 요청, sign : 간편인증 후 로그인) *stepMode가 'step'인 경우 필수 입력"},"step_data":{"type":"string","description":"로그인 사용데이터(내부용) *init단계 결과의 'step_data'를 그대로 입력, stepMode가 'step'인 경우 필수"},"cloudCertYn":{"type":"string","description":"금융인증서 사용여부(Y/N)"},"cloudCert":{"type":"string","description":"금융인증서정보"},"userId":{"type":"string","description":"국민건강보험공단 사용자아이디(개인사업자 로그인시 필수)"},"bizNo":{"type":"string","description":"주민등록번호(전체자리 입력 시 공동인증서 자동 등록 후 진행)"},"showCookie":{"type":"string","description":"세션정보 요청 구분(Y : 세션정보 가져오기), 출력 데이터의 'cookieData'에 세션정보 리턴"},"cookieData":{"type":"string","description":"세션정보 입력(입력 시 해당 세션정보 재사용) * 계속 유지를 원할 시 조회마다 나오는 'cookieData' 값을 새로 세팅해야 함"},"subjectType":{"type":"string","description":"대상구분(00 : 전체, 01 : 본인, 02 : 본인 외 또는 자녀) *기본값:00"},"fromDate":{"type":"string","description":"조회시작일(YYYYMMDD)"},"toDate":{"type":"string","description":"조회종료일(YYYYMMDD)"},"detailYn":{"type":"string","description":"의약품 상세정보 조회 여부(Y/N) *기본값:N"},"imgYn":{"type":"string","description":"의약품 상세정보 이미지 조회 여부(Y/N) *기본값:N / detailYn이 'Y'인 경우에 출력"}}},"IN0002000428":{"type":"object","properties":{"stepData":{"type":"string","description":"내부 사용데이터 (간편로그인시 step2 요청의 step_date에 그대로 입력)"},"cookieData":{"type":"string","description":"세션정보 (요청값의 showCookie Y인 경우 다음 요청시 cookieData에 그대로)"},"list":{"type":"array","description":"투약정보 목록","items":{"$ref":"#/components/schemas/TreatmentInfo"}},"errYn":{"type":"string","description":"에러 여부"},"errMsg":{"type":"string","description":"에러 메시지"}},"description":"개별부 데이터"},"IN0002000428Resp":{"type":"object","properties":{"common":{"$ref":"#/components/schemas/RespCommon"},"data":{"$ref":"#/components/schemas/IN0002000428"}}},"MedicationDetail":{"type":"object","properties":{"No":{"type":"string","description":"번호"},"pharmNm":{"type":"string","description":"병의원(약국)명"},"medDate":{"type":"string","description":"진료개시일"},"medCnt":{"type":"string","description":"방문(입원)일수"},"presCnt":{"type":"string","description":"처방횟수"},"medList":{"type":"array","description":"투약 목록","items":{"$ref":"#/components/schemas/Medicine"}}},"description":"투약상세정보 목록"},"Medicine":{"type":"object","properties":{"No":{"type":"string","description":"번호"},"diagDate":{"type":"string","description":"진료(처방)일자"},"diagType":{"type":"string","description":"진료형태"},"presCnt":{"type":"string","description":"처방횟수"},"medicineNm":{"type":"string","description":"처방약품명"},"medicineEffect":{"type":"string","description":"처방약품효능"},"dosageDay":{"type":"string","description":"투약일수"},"detailObj":{"$ref":"#/components/schemas/MedicineDetail"}},"description":"투약 목록"},"MedicineDetail":{"type":"object","properties":{"MEDI_PRDC_NM":{"type":"string","description":"제품명"},"CMPN_NM":{"type":"string","description":"성분명"},"TMSG_GNL_SPCD":{"type":"string","description":"전문/일반"},"SNGL_CMTN_YN":{"type":"string","description":"단일/복합"},"UPSO_NAME":{"type":"string","description":"제조/수입사"},"UPSO1":{"type":"string","description":"판매사"},"FOML_CD_XPLN_CNTE":{"type":"string","description":"제형"},"MDCT_PATH_XPLN_CNTE":{"type":"string","description":"투여경로"},"MOHW_CLSF":{"type":"string","description":"복지부 분류"},"ATC_STND_CD":{"type":"string","description":"ATC코드"},"KPIC_EFMD":{"type":"string","description":"KPIC 약효분류"},"CMPN_NM_2":{"type":"string","description":"의약품안정성 정보 (DUR) - 병용금기"},"AGE_INCP_CNTE":{"type":"string","description":"의약품안정성 정보 (DUR) - 연령금기"},"PRGW_GRDE_XPLN_CNTE":{"type":"string","description":"의약품안정성 정보 (DUR) - 임부금기"},"EFFT_EFT_CNT":{"type":"string","description":"효능효과"},"USAG_CPCT_CNTE":{"type":"string","description":"용법 용량"},"USE_ATNT_MTT_CNTE":{"type":"string","description":"주의사항"},"CMN_TMDC_GDNC_CNTE":{"type":"string","description":"복약지도"},"SOURCE":{"type":"string","description":"출처"},"imgHex":{"type":"string","description":"약품 이미지"}},"description":"약품 상세 컨테이너"},"TreatmentInfo":{"type":"object","properties":{"subject":{"type":"string","description":"구분(본인: '01', 자녀: '02')"},"examinee":{"type":"string","description":"수진자명(본인: '', 자녀: '(자녀 이름)')"},"sublist":{"type":"array","description":"투약상세정보 목록","items":{"$ref":"#/components/schemas/MedicationDetail"}}},"description":"투약정보 목록"},"im.hyphen.market.infotech.dao.req.IN0002000427Req":{"required":["cloudCertYn","fromDate","loginMethod","subjectType","toDate"],"type":"object","properties":{"loginMethod":{"type":"string","description":"로그인구분(CERT: 인증서로그인, EASY: 간편 로그인)"},"signCert":{"type":"string","description":"인증서정보(인증서PEM 문자열) *인증서로그인 필수 - 공인인증서모듈설치 필요"},"signPri":{"type":"string","description":"개인키정보(개인키PEM 문자열) *인증서로그인 필수 - 공인인증서모듈설치 필요"},"signPw":{"type":"string","description":"인증서 비밀번호 *인증서로그인 signPw 또는 signPwEnc필수"},"loginOrgCd":{"type":"string","description":"간편로그인 기관 구분(pass : PASS인증, kakao : 카카오톡, payco : 페이코, kica : 삼성패스, kb : KB스타뱅킹, naver : 네이버, shinhan : 신한인증서, toss : 토스인증서)"},"resNm":{"type":"string","description":"이름 *간편로그인시 필수"},"resNo":{"type":"string","description":"생년월일(YYYYMMDD) *간편로그인시 필수"},"mobileNo":{"type":"string","description":"휴대폰번호 *간편로그인시 필수"},"mobileCo":{"type":"string","description":"통신사(S: SKT, K: KT, L: LGT) *간편로그인 PASS인증시 필수"},"stepMode":{"type":"string","description":"간편로그인 단계 구분(step: 2단계로 나눠 진행, nostep: 1단계로 진행)"},"step":{"type":"string","description":"간편로그인 단계(init: 간편인증 요청, sign: 간편인증 후 로그인)"},"step_data":{"type":"string","description":"로그인 사용데이터(내부용), init단계 결과의 'step_data'를 그대로 입력"},"cloudCertYn":{"type":"string","description":"금융인증서 사용여부(Y/N)","example":"N"},"cloudCert":{"type":"string","description":"금융인증서정보"},"showCookie":{"type":"string","description":"세션정보 요청 구분(Y: 세션정보 가져오기), 출력 데이터의 'cookieData'에 세션정보 리턴"},"cookieData":{"type":"string","description":"세션정보 입력, 입력 시 해당 세션정보 재사용"},"userId":{"type":"string","description":"국민건강보험공단 사용자아이디(개인사업자 필수)"},"bizNo":{"type":"string","description":"주민등록번호(전체자리 입력 시 공동인증서 자동 등록 후 진행)"},"subjectType":{"type":"string","description":"대상구분(00: 전체, 01: 본인, 02: 본인 외 또는 자녀)"},"fromDate":{"type":"string","description":"조회시작일(YYYYMMDD)"},"toDate":{"type":"string","description":"조회종료일(YYYYMMDD)"}}},"IN0002000427":{"type":"object","properties":{"list":{"type":"array","description":"진료정보 목록","items":{"$ref":"#/components/schemas/TreatmentInfo"}},"stepData":{"type":"string","description":"내부 사용데이터 (간편로그인시 step2 요청의 step_date에 그대로 입력)"},"cookieData":{"type":"string","description":"세션정보 (요청값의 showCookie Y인 경우 다음 요청시 cookieData에 그대로)"}},"description":"개별부 데이터"},"IN0002000427Resp":{"type":"object","properties":{"common":{"$ref":"#/components/schemas/RespCommon"},"data":{"$ref":"#/components/schemas/IN0002000427"}}}}}}
