# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.*.local

# Next.js
.next/
out/
.next/cache/

# Capacitor Android Build
android/app/build/
android/.gradle/
android/.idea/
android/local.properties
android/captures/

# Capacitor iOS Build
ios/Pods/
ios/build/
ios/DerivedData/

# Expo / EAS Artifacts
*.apk
*.aab
*.ipa
*.app

# TypeScript
*.tsbuildinfo

# OS / Editor
.DS_Store
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Docs
docs/